@import "../scss/abstracts/_abstract-dir";
@import "../scss/base/_base-dir";
@import "../scss/layout/_layout-dir";
@import "../scss/components/_components-dir";

.input-group .error-message {
    color: $color_6;
    font-size: 12px;
    font-weight: 600;
}

.input-group.error-border input {
    border: 1px solid $color_6;
}
