@mixin flex-box($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-direction($justify, $align, $flex-direction, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    #{$flex-direction}: $direction;
}

@mixin position-absolute($left) {
    position: absolute;
    top: 0;
    left: $left;
}

@mixin position-absolute_1($bottom) {
    position: absolute;
    bottom: $bottom;
    left: 0;
}

@mixin hidden($visible, $opacity) {
    opacity: $opacity;
    visibility: $visible;
}

@mixin object-fit($fit) {
    object-fit: $fit;
    width: 100%;
    height: 100%;
}

@mixin transform($type,$translate, $firstVal, $secondVal) {
    .#{$type}-screen {
        transform: #{$translate}($firstVal, $secondVal);
    }
}

@mixin head-top($btn-name) {
    .head-top {
        @include flex-box(center, space-between);

        .#{$btn-name}-btn {
            cursor: pointer;
            width: $width-size_2 - 3;
            color: $color_2;
        }

        .top-logo {
            width: 35px;
            height: 35px;

            img {
                @include object-fit(cover);
            }
        }

    }
}