@mixin flex-box($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin flex-direction($justify, $align, $flex-direction, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    #{$flex-direction}: $direction;
}

@mixin position-absolute($left) {
    position: absolute;
    top: 0;
    left: $left;
}

@mixin hidden($visible, $opacity) {
    opacity: $opacity;
    visibility: $visible;
}

@mixin object-fit($fit) {
    object-fit: $fit;
    width: 100%;
    height: 100%;
}

@mixin transform($type, $firstVal, $secondVal) {
    .#{$type}-screen {
        transform: translate($firstVal, $secondVal);
    }
}