@mixin flex-box($align, $justify) {
    display: flex;

    @if $justify==null {
        align-items: $align;
    }
    @else {
        align-items: $align;
        justify-content: $justify;
    }
}

@mixin flex-direction($justify, $align, $direction) {
    @include flex-box($align, $justify);
    flex-direction: $direction;
}

@mixin position($position, $bottom, $top, $left, $right) {
    position: $position;

    @if $right==null and $top==null {
        bottom: $bottom;
        left: $left;
    }

    @if $bottom==null and $right==null {
        top: $top;
        left: $left;
    }

    @if $bottom==null and $left==null {
        top: $top;
        right: $right;
    }
}

@mixin hidden($visible, $opacity) {
    opacity: $opacity;
    visibility: $visible;
}

@mixin object-fit($fit) {
    object-fit: $fit;
    width: 100%;
    height: 100%;
}

@mixin head-top($btn-name) {
    .head-top {
        @include flex-box(center, space-between);

        .#{$btn-name}-btn {
            cursor: pointer;
            width: $width-size_2 - 3;
            color: $color_2;
        }

        .top-logo {
            width: 35px;
            height: 35px;

            img {
                @include object-fit(cover);
            }
        }

    }
}

@mixin x-sm {
    @media only screen and (max-width: 390px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 286px) {
        @content;
    }
}
