.btns {
    @include flex-box(center, flex-end);
    gap: 1rem;

    @include mobile {
        justify-content: center;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        z-index: 1;

        @each $name,
        $bg-color in $bg-colors {
            &.#{$name}-btn {
                background-color: $bg-color;
                color: $color_2;
            }
        }
    }

}

.delete-btn {
    min-width: $width-size_2 - 3;
    height: $height-size_2 - 18;
    padding: 0.5rem;
    border-radius: 50%;
    color: $color_1;
    cursor: pointer;
    background-color: $background-color_1;
    @include hidden(hidden, 0);
    transition: all 0.3s;

    @include mobile {
        margin-left: 20px;
    }

    &:hover {
        color: $color_3;
        background-color: $background-color_2;
    }
}

.add-task-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: $color_6;
    cursor: pointer;
    @include flex-box(center, center);
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1);
    }

    svg {
        width: 2.3rem;
        color: $color_2;
    }

    &.active {
        transform: rotate(45deg);
        bottom: 20rem;
        z-index: 1;
    }
}

.task-wrapper:hover .delete-btn {
    @include hidden(visible, 1)
}