.input-group {
    position: relative;
    margin-bottom: 20px;

    .todo-input,
    .todo-category {
        @extend %input-design;
    }

    label {
        display: block;
        width: $width-size_1;
        font-size: 15px;
        padding: 6px;
        color: $color_4;
    }
}

.task-check {
    display: none;

    &:checked~ {

        .checkmark {
            background-color: $color_1;

            svg {
                color: $color_2;
                @include hidden(visible, 1);
            }
        }

        p {
            text-decoration: line-through;
            opacity: 0.6;
        }

    }
}