.add-task {
    @include position(absolute, -100%, null, 0, null);
    width: $width-size_1;
    padding: 40px 30px;
    transition: all 0.3s;

    .add-task-backdrop {
        @include position(absolute, null, 0, 50%, null);
        transform: translate(-50%);
        width: $width-size_1 + 35;
        height: $height-size_2 + 10;
        border-radius: 50% 50% 0 0;
        background-color: $color_2;

    }

    &.active {
        bottom: -30px;
    }

    .head {
        font-size: 1.5rem;
        margin: 15px 0px;
        position: relative;
        z-index: 10;
    }


}