.wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    height: $height-size_1;
    width: $width-size_1;
    padding: 30px 0;
    margin: 20px 0;

    @media only screen and (min-width: 567px) {
        height: 41rem;
        width: 24rem;
        border-radius: 35px;
        border: 8px solid $color_1;
    }

    &.show-category {

        .home-screen,
        .category-screen {
            transform: translateX(-100%);
        }

        .backdrop-screen {
            transform: translate(-50%, -60%);
        }

    }
}