.black-backdrop {
    @include hidden(hidden, 0);
    @include position(absolute, null, 0, 0, null);
    transform: translate(0);
    width: $width-size_1;
    height: $height-size_3;
    backdrop-filter: blur(5px);
    background-color: $background-color_3;

    &.active {
        @include hidden(visible, 1)
    }
}