.category-screen {
    @include head-top(back);

    .category-details {
        padding: 0 30px;
        margin-top: 8rem;
        @include flex-box(center, null);
        gap: 1rem;

        img {
            width: $width-size_2 - 1;
        }

        .details p {

            opacity: 0.6;

        }
    }
}