.category {
    background-color: $color_2;
    border-radius: 0.5rem;
    padding: 1.5rem;
    cursor: pointer;
    @include flex-box(center, space-between);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s;

    .left {
        @include flex-box(center, space-between);
        gap: 1.5rem;

        .content {
            h1 {
                font-size: 1.5rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            p {
                color: $color_1;
                font-size: 0.8rem;
                opacity: 0.6;
            }
        }

        .category-img {
            width: $width-size_2 - 2;

            @include mobile {
                width: 2rem
            }
        }
    }


    .options {
        @include hidden(hidden, 0);
        transition: all 0.3s ease;

        .toggle-btn {
            width: $width-size_2 - 3;
            cursor: pointer;
            opacity: 0.6;
        }

        &:hover .options {
            @include hidden(visible, 1);
        }
    }

    &:hover {
        transform: translateY(-6px);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}