.screen {
    flex: 1;
    min-width: $width-size_1;
    transition: all 0.3s;

    .head-wrapper {
        padding: 0px 30px;
        @include head-top(menu);

        .welcome {
            @include flex-box(center, space-between);
            margin-top: 30px;

            @include mobile {
                @include flex-direction(space-between, flex-start, column-reverse)
            }
        }

        .content {
            color: $color_2;

            &-head {
                font-size: 1.5rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            &-text {
                font-weight: 500;
                line-height: 20px;
                margin-top: 5px;

                @include mobile {
                    width: 190px;
                }
            }

            @include mobile {
                margin-top: 10px;
            }
        }

        .user-img {
            position: relative;

            img {
                width: $width-size_2;

                @include mobile {
                    width: 4rem;
                }
            }

            .backdrop {
                @include position(absolute, null, 0, 50%, null);
                transform: translate(-50%);
                width: $width-size_2 - 1.2;
                height: $height-size_2 - 16;
                border-radius: 50%;
                background-color: $color_2;
                z-index: -1;

                @include mobile {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
}