.tasks-wrapper {
    position: relative;
    padding: 0 30px;
    margin-top: 1rem;
    height: calc(100% - 12rem);
    padding-bottom: 20px;
    overflow: auto;

    .tasks {
        padding-top: 1rem;
        @include flex-direction(center, initial, column);
        gap: 1rem;

        .no-task {
            margin-top: 5rem;
            @include flex-box(center, center);
            text-align: center;
            font-size: 1.5rem;
            opacity: 0.6;
        }

    }

    .completed-tasks {
        @include position(absolute, 55px, null, 35px, null)
    }


}